
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

html {
  color: #afafaf;
  background-color: black;
  font-family: Droid Sans, sans-serif;
  font-size: 16px;
}

button, a.button {
  font-family: Droid Sans, sans-serif;
  display: inline-block;
  color: #969696;
  background: #40404a;
  border: 2px solid #2c2939;
  border-radius: 2px;
  padding: 0.25em 0.5em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 90%;
  line-height: 100%;
  text-shadow: none;
  
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
  &:not(:first-child) {
    margin-left: 0.5em;
  }
  
  &:hover {
    background: #4b4b57;
  }
  
  &:active, &.loading {
    background: #535364;
  }
}

input {
  background: #3f3e41;
  border: 2px solid #2c2939;
  border-radius: 2px;
  color: gray;
  padding: 0.5em;
  min-width: 32px;
}


.progress {
  box-sizing: content-box;
  height: 1em;
  position: relative;
  background: rgba(85, 85, 85, 0.25);
  border-radius: 1em;
  box-shadow: inset 0 -1px 1px rgba(white, 0.3);
  overflow: hidden;
  
  .bar {
    display: block;
    height: 100%;
    border-radius: 1em;
    background-color: rgba(50, 26, 122, 0.5);
    box-shadow: inset 0 2px 9px rgba(122, 122, 122, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: linear-gradient(
                      -45deg,
                      rgba(255, 255, 255, 0.1) 25%,
                      transparent 25%,
                      transparent 50%,
                      rgba(255, 255, 255, 0.1) 50%,
                      rgba(255, 255, 255, 0.1) 75%,
                      transparent 75%,
                      transparent
      );
      z-index: 1;
      background-size: 2em 2em;
      animation: move 2s linear infinite;
    }
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 2em 2em;
  }
}

#react-refresh-overlay {
  transition: width 0.3s ease, height 0.3s ease;
  top: unset !important;
  left: unset !important;
  right: 0 !important;
  bottom: 0 !important;
  min-height: unset !important;
  overflow: hidden;
  
  &:not(.open) {
    width: 25rem !important;
    height: 50vh !important;
  }
}
