
.IndexPage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  &.hideMouse {
    cursor: none;
  }
  
  .mainCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .menu {
    position: absolute;
    top: 0;
    right: -25em;
    width: 25em;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background: #24232f;
    padding: 1em;
    gap: 0.5em;
    transition: right 0.3s ease;
    cursor: default;
    
    &.show {
      right: 0;
      
      #debugBox {
        display: flex;
      }
    }
    
    .header {
      font-weight: bold;
      font-size: 150%;
    }
    
    .addForm {
      display: flex;
      
      input {
        flex: 1;
      }
    }
    
    .metadata {
      z-index: 0;
      position: relative;
      text-shadow: 0 0 3px black;
      
      > *:not(:last-child) {
        margin-bottom: 0.5em;
      }
      
      .artist {
        span {
          font-weight: bold;
        }
      }
      
      .header {
        font-size: 80%;
        opacity: 75%;
      }
  
      .name {
        font-size: 120%;
      }
  
      .thumbnail {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: auto;
        z-index: -1;
        pointer-events: none;
        margin: 0;
    
        mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
        -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
      }
    }
    
    .list {
      flex: 1;
      background: #0a0a11;
      overflow: hidden auto;
      border-radius: 0.5em;
      
      .TrackItem {
        position: relative;
        margin: 0.5em;
        padding: 0.5em;
        background: #24232f;
        border-radius: 0.5em;
        overflow: hidden;
        cursor: pointer;
        transition: background-color 0.15s;
        
        &.downloading {
          cursor: wait;
        }
        
        &:not(.downloading) {
          &.selected { background: #282734 }
          &:hover { background: #2b2a36 }
          &:active { background: #3a384d }
        }
      }
    }
    
    .player {
      position: relative;
      
      .metadata {
        margin: -0.5em 0 0;
        padding: 0.5em 0;
      }
      
      audio {
        width: 100%;
      }
      
      .closeButton {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        margin: 0;
      }
    }
    
    #debugBox {
      position: absolute;
      top: 0;
      right: 100%;
      background: #24232f;
      z-index: 999;
      width: 4.5em;
      padding: 1em 0.5em 0.5em;
      border-radius: 0 0 0 0.5em;
      flex-direction: column;
      gap: 0.5em;
      display: none;
    
      > * {
        width: 4em;
        height: 4em;
        border: 1px solid gray;
        object-fit: contain;
        background-color: gray;
        background-image: repeating-conic-gradient(#7f7f7f 0 25%, #646464 0 50%);
        background-size: 16px 16px;
        cursor: pointer;
      
        &.expand {
          position: fixed;
          top: 5em;
          left: 5em;
          width: calc(100% - 10em);
          height: calc(100% - 10em);
          box-shadow: 0 0 5em black;
        }
      }
  
      &::after {
        content: "DebugBox";
        position: absolute;
        top: 0.1em;
        left: 0.5rem;
        font-family: monospace;
        font-size: 0.5em;
      }
    }
  }
}
